
extends layout

block content
  
  div(class='jumbotron')
  
    h1 Profile
    h1 #{player.name}
    h1 #{player.type}
    h1 #{player.country}
     br
     a(href='/' type='button' class='btn btn-success') Go to Home            
